## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# NuGet Packages
*.nupkg
*.snupkg
**/packages/*

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Rider
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
